/* Ripped from the main astropy website */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    line-height: 1.25em;
    font-size: 14px;
    color:#333;
    font-family: 'Open Sans', sans-serif;
}

/* This file is in the public domain because it was created by NASA
and ESA.  The material was created for NASA by Space Telescope Science
Institute under Contract NAS5-26555, or for ESA by the Hubble European
Space Agency Information Centre. Copyright statement at
hubblesite.org. */
#index {
        background-image: url("../images/background.jpg");
        background-repeat: repeat-x;
        background-position: center top;
}

#wrapper{
    margin:0 auto;
    max-width:960px;
    padding:0 10px;
    min-width: 320px; /* min-width of whole site */
}

a{
    color: #FF5000;
    text-decoration: none;
}
a, svg{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover{
    color:#333;
}

h1{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}

h2{
    font-size: 20px;
    margin-bottom: 10px;
}

h3{
    font-size: 16px;
    margin: 20px 0px 10px 0px;

}

p{
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 1.5em;
}

strong{
    font-weight: bold;

}

section{
    border-bottom: 1px #efefef solid;
    padding: 30px 0 30px;
    clear: both;
}

section:first-of-type{
    margin-top:42px;
}

section:last-of-type{
    border-bottom: 0px;
}

section *:last-child{
    margin-bottom: 0px;
}

ul li{
    list-style-type: square;
    list-style-position: outside;
    list-style-color:  #FF5000;
    line-height: 1.5em;
    margin-bottom:0.5em;
    margin-left: 30px;
}

ul li:last-child{
    margin-bottom: 0px;
}

cite{
    font-family: monospace;
}

pre{
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    color: black;
    font-family: Monaco, Andale Mono, Courier New, monospace;
    webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.button{
    padding: 8px;
    display: inline-block;
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #FC9468),
    color-stop(0.89, #FF5100)
    );
    background-image: -o-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
    background-image: -moz-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
    background-image: -webkit-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
    background-image: -ms-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
    background-image: linear-gradient(to bottom, #FC9468 0%, #FF5100 89%);
}

a.button, .button a{
    color: white;
}


p .button{
    padding-top:0px;
    padding-bottom:0px;
    padding-right:4px;
    padding-left:4px;
}

.button:hover{
    cursor: pointer;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #FFA47D),
        color-stop(1, #FF7D45)
    );
    background-image: -o-linear-gradient(bottom, #FFA47D 0%, #FF7D45 100%);
    background-image: -moz-linear-gradient(bottom, #FFA47D 0%, #FF7D45 100%);
    background-image: -webkit-linear-gradient(bottom, #FFA47D 0%, #FF7D45 100%);
    background-image: -ms-linear-gradient(bottom, #FFA47D 0%, #FF7D45 100%);
    background-image: linear-gradient(to bottom, #FFA47D 0%, #FF7D45 100%);
}


.right{
    float: right;
}

/* nav */
nav{
    line-height: 42px;
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #222222),color-stop(0.89, #333333));
    background-image: -o-linear-gradient(bottom, #222222 0%, #333333 89%);
    background-image: -moz-linear-gradient(bottom, #222222 0%, #333333 89%);
    background-image: -webkit-linear-gradient(bottom, #222222 0%, #333333 89%);
    background-image: -ms-linear-gradient(bottom, #222222 0%, #333333 89%);
    background-image: linear-gradient(to bottom, #222222 0%, #333333 89%);
}

nav > *{
    display:inline-block;
    vertical-align:top;
}

nav img{
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}

nav ul{
    max-width:960px;
    margin:0 auto;
}

nav ul li{
    display:inline;
    list-style: none;
    margin: 10px;
}


nav li a, nav li a:link{
    color:white;
}
nav li a:hover{
    color:#FF5000;
}

nav li a.active{
    color:#FF5000;
}

nav .pull-right{
    float: right;
    margin-right:10px;
}

.search input{
    margin-top: 4px;
    width: 180px;
    height: 18px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    padding-left: 5px;
}

#mobile-header {
    display: none;
}

#mobile-header a{
    width: 46px;
    display:block;
}


#mobile-header div svg{
    fill:white;
    height: 15px;
    width: 15px;
    padding: 13px 15px;
    display:block;
}

#mobile-header div:hover svg{
    fill:#FF5000;
}


@media only screen and (max-width: 840px){
    #mobile-header {
        display: inline-block;
        width: 46px;
        height: 42px;
        border-right:1px solid white;
    }

    nav ul{
        display:none;
    }

    .search input{
        width: 180px;
    }

    nav img{
        margin-left: 10px;
    }

}


@media only screen and (max-width: 370px){
    .search{
        display: none;
    }
}


/*hero*/

section#hero{
    text-align: center;
    position:absolute;
    left:0px;
    top:0;
    width:100%;
        border-bottom: 0px;
}

section#hero p{
    max-width: 600px;
    margin: 10px auto 20px auto;

}

section#hero .version{
    color:grey;
    font-size: 12px;
    margin-bottom:10px;
}

section#hero img{
    display: inline;
    margin:20px 0px;
    max-width:90%;
}

section#hero div#documentation{
    color:white;
    display: inline-block;
    position: relative;
}

section#hero div#documentation span{
    font-size: 10px;
    padding:10px 20px 6px 20px;
}

section#hero div#documentation a{
    color: white;
    text-align:center;
}

section#hero div#documentation ul{
    border-top: white 2px solid;
    text-align: left;
    position: absolute;
    left: 179px; top: 33px;
    display: none;
    background-color: #FF5000;
    width: 107px;
    font-size: 12px;
    z-index:1;
}

section#hero div#documentation ul li{
    border-top: white 1px solid;
    padding: 5px 5px;
    list-style: none;
    margin: 0px;
}
section#hero div#documentation ul li:hover{
    background-color: #ffa077;
    cursor: pointer;
}

section#hero div#documentation ul li a {
  display: block;
  text-decoration: none;
}

/*Installation Instructions*/

section.install{
    margin-top:380px;
}

section.install div{
    margin-top: 30px;
}

section.install .button.download{
    padding: 5px 5px;
}

section.install ul li{
    list-style: none;
    margin-left: 0px;
}

section.install ul li a{
        background: #fff;
    border: 1px #FFE1D6 solid;
    padding: 10px;
    float: left;
    margin: 0px 5px -1px 5px;
    height:20px;
    line-height: 20px;
}
section.install ul li a.right{
    float: right;
}


/* Make tweaks here to accomodate additional tabs */
@media all and (max-width: 630px) {
    section.install ul li a{
        padding:10px 2px;
        font-size:12px;
    }
}

@media all and (max-width: 420px) {

    section.install ul li a{
        padding: 10px 15px;
    }

    section.install ul li a span{
        display: none;
    }
}
/* end changes */


section.install ul li:first-child a{
    margin-left: 0px;
}

section.install #os-selector{
    position: relative;
}

section.install #os-selector ul li a:hover{
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #FC9468),
    color-stop(0.89, #FF5100)
    );
    background-image: -o-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
    background-image: -moz-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
    background-image: -webkit-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
    background-image: -ms-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
    background-image: linear-gradient(to bottom, #FC9468 0%, #FF5100 89%);
    color: white;
    cursor: pointer;
}

section.install #os-selector li a.active{
    color: white;
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #FC9468),
    color-stop(0.89, #FF5100)
    );
    background-image: -o-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
    background-image: -moz-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
    background-image: -webkit-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
    background-image: -ms-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
    background-image: linear-gradient(to bottom, #FC9468 0%, #FF5100 89%);
}

section.install #os-selector li img{
    height:20px;
    vertical-align: top;
}
section.install #os-selector div{
    clear: both;
    border-top: 1px #FFE1D6 solid;
    border-bottom: 1px #FFE1D6 solid;
    padding: 10px 0px;
    margin-bottom:15px;

}


section.install div h3{
    color: black;
    margin-top: 0px;
}




/*Affiliated*/

.featured{
    background-color:#fdfdfd;
}

.featured div{
    clear: both;
    padding: 20px 0px;
}

.featured div:first-of-type{
    padding-top: 5px;
}

.featured div h3{
    color:black;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFE1D6;
}

.featured img{
    float: left;
    margin-right:10px;
}

table{
    margin: 20px 0px;
    word-break:break-all;
}

tr{
    border-bottom: 1px #efefef solid;
}


thead{
    text-align: left;
    font-weight: bold;
    border-bottom: 1px black solid;
}

td{
    padding:5px 3px;
}

/* About */

p.citation{
    margin: 10px 40px;
}

ul.team{
    -moz-column-count:5; /* Firefox */
    -webkit-column-count:5; /* Safari and Chrome */
    column-count:5;
}

@media only screen and (max-width: 920px){
    ul.team{
        -moz-column-count:2; /* Firefox */
        -webkit-column-count:2; /* Safari and Chrome */
        column-count:2;
    }
}

ul.team li, ul.coordinators li{
    margin-bottom:0px;
}



