IPython>=6.1
astropy>=4
git+https://github.com/astropy/astroquery.git
matplotlib==3.0.2
numpy>=1.17
jupyter>=1.0
scipy>=1.0
notebook>=5.7.2
aplpy
git+https://github.com/radio-astro-tools/spectral-cube.git#egg=spectral-cube
git+https://github.com/radio-astro-tools/radio-beam.git#egg=radio-beam
reproject==0.5.1
dust_extinction>=0.7
astro-gala
dust_extinction>=0.7
synphot
