@import url("bootstrap-astropy.css");

div.body {
    margin: 0 auto;
    max-width: 768px;
}

div.body p {
    font-size: 15px;
}

span.inputnumrole {
    color: #303F9F
}

span.outputnumrole {
    color: #D84315
}
