@import url("bootstrap-astropy.css");

div.body {
    margin: 0 auto;
    max-width: 768px;
}

div.body p {
    font-size: 15px;
    line-height: 20px;
}

span.inputnumrole {
    color: #303F9F
}

span.outputnumrole {
    color: #D84315
}

button {
    border-radius: 5px;
    border-width: 0;
    padding: 6px 10px 6px 10px;
    cursor: pointer;
    margin-right: 12px;
    color: #ffffff;
    font-size: 10pt;
    background-image: linear-gradient(to bottom, #FFA47D 0%, #FF7D45 100%)
}

#spacer {
    margin-top: 24px;
}
