[config]
# Name of the link to the tutorial
link_name: Read in and plot catalog information from a text file

# Information about the tutorial
author: Adrian M. Price-Whelan <adrn@astro.columbia.edu>
date: July 2013

published: true