<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Astropy. A Community Python Library for Astronomy." />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="../favicon.ico" />

<link href='http://fonts.googleapis.com/css?family=Open+Sans:200,300,400italic,400,700' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="css/style.css" />


<title>Astropy Tutorials</title>

<!-- Google analytics -->
<!--<script src="../js/analytics.js"></script>-->
</head>

<body>

<div id="wrapper">
    <nav>
        <a href="http://www.astropy.org"><img src="images/astropy_word_32.png"/></a>
        <div id="navigation">
            <ul>
                <li style="margin-top: 7px"><a href="http://tutorials.astropy.org">Tutorials</a></li>
            </ul>
        </div>
    </nav>
    <section>

    <h1> Astropy Tutorials</h1>
        <p>The tutorials on this site walk through some typical software tasks and demonstrate the features in Astropy sub-packages in the context of a story or standard workflow. See the <a href="http://docs.astropy.org/">Astropy documentation</a> for a structured view of the functionality within the Astropy project.</p>


    </section>
    <section class="tutorials">

    <h2>List of Tutorials</h2>
    <ul>
{entries}
    </ul>

    </section>

    <section class="contributing">

    <h2>Contributing</h2>

        <p>We welcome <b>feedback</b> and improvements to these tutorials via the <a href="https://github.com/astropy/astropy-tutorials">Astropy Tutorials repo on Github</a>. If you find a typo or would like to clarify some text, please either <a href="https://github.com/astropy/astropy-tutorials/issues/new">create an issue</a> or make the change yourself and then submit a pull request directly to the <a href="https://github.com/astropy/astropy-tutorials">repository</a>. Questions and/or comments about the tutorials are welcome on the <a href="https://groups.google.com/forum/#!forum/astropy-dev">astropy-dev</a> mailing list.</p>

        <p>If you are interested in <b>contributing</b> an ipython notebook as a tutorial, please check the <a href="https://github.com/astropy/astropy-tutorials/blob/master/README.md">README</a> or contact the <a href="https://groups.google.com/forum/#!forum/astropy-dev">developer list</a>. Also, if you have an idea for a tutorial or a tutorial request, please post to the <a href="https://groups.google.com/forum/#!forum/astropy-dev">developer list</a>. If you would like to contribute to this effort, but need some inspiration, check out the <a href="https://github.com/astropy/astropy-tutorials/issues?page=1&state=open">open issues</a>. This is a collaborative effort and we are looking for contributions and ideas from users like you!</p>

</section>

</div>

</body>
</html>
