<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Astropy. A Community Python Library for Astronomy." />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="../favicon.ico" />

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!--<link rel="stylesheet" type="text/css" href="../css/jquery.sidr.light.css" />-->


<title>Astropy | Tutorials</title>

<!-- Google analytics -->
<!--<script src="../js/analytics.js"></script>-->
</head>

<body>

<div id="wrapper">
    <nav>
        <div id="mobile-header">
            <!-- Menu Icon -->
            <a id="responsive-menu-button" href="#sidr-main"><div><svg senable-background="new 0 0 24 24" height="24px" id="Layer_1" version="1.1" viewBox="0 0 24 24" width="24px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px"><g><g><path d="M23.244,17.009H0.75c-0.413,0-0.75,0.36-0.75,0.801v3.421C0,21.654,0.337,22,0.75,22h22.494c0.414,0,0.75-0.346,0.75-0.77    V17.81C23.994,17.369,23.658,17.009,23.244,17.009z M23.244,9.009H0.75C0.337,9.009,0,9.369,0,9.81v3.421    c0,0.424,0.337,0.769,0.75,0.769h22.494c0.414,0,0.75-0.345,0.75-0.769V9.81C23.994,9.369,23.658,9.009,23.244,9.009z     M23.244,1.009H0.75C0.337,1.009,0,1.369,0,1.81V5.23c0,0.423,0.337,0.769,0.75,0.769h22.494c0.414,0,0.75-0.346,0.75-0.769V1.81    C23.994,1.369,23.658,1.009,23.244,1.009z"/></g></g></svg></div></a>
            <!-- -->
        </div>
        <a href="http://astropy.org"><img src="images/astropy_word_32.png"/></a>
        <div id="navigation">
            <ul>
                <li><a href="http://astropy.org">Main site</a></li>
            </ul>
        </div>
        <div class="search pull-right">
            <form action="http://docs.astropy.org/en/stable/search.html" method="get">
              <input type="text" name="q" placeholder="Search Documentation" />
              <input type="hidden" name="check_keywords" value="yes" />
              <input type="hidden" name="area" value="default" />
            </form>
        </div>
    </nav>
    <section>



    <h1>Astropy Tutorials</h1>

    <p>TODO: explain</p>

    <p>If you are a user interested in contributing a tutorial or ..., details are...</p>

    </section>
    <section class="tutorials">

    <h2>Tutorials</h2>
    <ul>
{entries}
    </ul>

    </section>

</div>

</body>
</html>