name: Build tutorials
on:
  push:
    branches:
      - main
  release:
    types:
      - published
  schedule:
    - cron: "0 10 * * 1"  # Mondays @ 6AM Eastern

jobs:
  notebooks:
    name: "Execute and convert the notebooks to HTML"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2

      - name: Set up Python
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38  # v5.4.0
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          sudo apt-get install pandoc
          python -m pip install -U pip
          python -m pip install -r requirements-dev.txt

      # 'make convertall' also executes the notebooks, so this call is redundant
      # - name: Execute the notebooks
      #   run: |
      #     make executeall
      #   shell: bash

      - name: Convert the notebooks to HTML
        run: |
          make convertall
        shell: bash

      - name: Name artifact
        id: nameartifact
        run: |
          echo "::set-output name=artifactName::rendered-tutorials"

      - uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08  # v4.6.0
        with:
          name: ${{ steps.nameartifact.outputs.artifactName }}
          path: _build

      - name: Dispatch Learn Astropy deployment
        uses: peter-evans/repository-dispatch@ff45666b9427631e3450c54a1bcbee4d9ff4d7c0  # v3.0.0
        if: ${{ (github.event_name == 'push') && (github.ref == 'refs/heads/main') && (github.repository == 'astropy/astropy-tutorials')}}
        with:
          token: ${{ secrets.DISPATCH_GITHUB_TOKEN }}
          repository: astropy/learn-astropy
          event-type: tutorials-build
          client-payload: '{"artifactName": "${{ steps.nameartifact.outputs.artifactName }}", "runid": "${{ github.run_id }}", "repo": "${{ github.repository }}"}'
